BINANCE_API_KEY=your_binance_key
BINANCE_API_SECRET=your_binance_secret_key

# Modes: spot_testnet, futures_testnet, futures_mainnet
TRADING_MODE=spot_testnet

DATABASE_URL=postgresql+psycopg2://postgres:root@localhost:5432/bot_db
LOG_LEVEL=INFO

# Spot Testnet
SPOT_TESTNET_BASE=https://testnet.binance.vision
SPOT_TESTNET_WS=wss://testnet.binance.vision/ws

# Futures Testnet
FAPI_BASE_TESTNET=https://testnet.binancefuture.com
WS_BASE_TESTNET=wss://stream.binancefuture.com/ws

# Futures Mainnet
FAPI_BASE_LIVE=https://fapi.binance.com
WS_BASE_LIVE=wss://fstream.binance.com/ws
